<div><html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		
	</head>

	<style>
			body{
				text-align: center;
				top: 50%;
	   			margin-top: 280px;
			}
		
	</style>
	<body>

		<form id="makebank" action="/makebank" method='POST'>
			<input type="submit" value="make bank" class="btn btn-info btn-block">
		</form>

		<form id="checkbank" action="/checkbank" method='POST'>
			<input type="submit" value="check bank" class="btn btn-info btn-block">
		</form>
	</body>
</html>
</div>