<div><html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		
	</head>

	<style>
			body{
				text-align: center;
				top: 50%;
	   			margin-top: 280px;
			}
		
	</style>
	<body>

	{% for account in now_loan_accounts %}
		<form id="account_work" action="/account_work" method='POST'> 
			<input style="border:0px" name="account" value={{account[2]}}> 
			<p> Money : {{account[4]}} </p>		
			<input type="submit" name="transfer" value="transfer">
			<input type="submit" name="history" value="history">
		</form>
		<hr style="border:solid 1px;">
	{% endfor %}


	</body>
</html>
</div>