<div><html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		
	</head>

	<style>
			body{
				text-align: center;
				top: 50%;
	   			margin-top: 280px;
			}
		
	</style>
	<body>
		<p>hello! {{now_user_name}}</p>
		<hr>
		<form id="send_money" action="/send_money" method='POST'>
			<p>Account number</p> 
			<input type="text" name="receiver_account">
			<br>

			<p>amount</p>
			<input type="text" name="send_money">

			<br>
			<p>password</p>
			<input type="text" name="password">
			<br>
			<br>
			<input type="submit" values="send">
		</form>
	</body>
</html>
</div>